---
import { Image } from "astro:assets";
import CtaButton from "../CtaButton.astro";
import heroImage from "../../assets/hero_img_stark_soft-no-stars.jpeg";
import stars from "../../assets/hero_img_stark_soft-stars.png";
---

<section aria-label="Hero Section" class="bg-white">
  <div
    class="container grid grid-cols-2 max-md:grid-cols-1 gap-5 h-screen items-center justify-center"
  >
    <div class="flex flex-col gap-3 mx-2">
      <h1 class="text-4xl lg:text-6xl font-bold my-2">
        A Stark Software tem a solução tecnológica para sua empresa.
      </h1>
      <h2 class="text-xl lg:text-2xl font-light">
        Transforme sua ideia em realidade! Entre em contato conosco para uma
        consulta gratuita e descubra como podemos ajudar a alavancar a sua
        presença online!
      </h2>
      <CtaButton text="Solicitar orçamento" link="http://google.com" />
    </div>
    <div class="relative flex justify-center items-center">
      <Image
        src={heroImage}
        alt="Astro Logo"
        format="avif"
        class={"absolute z-10"}
      />
      <Image
        src={stars}
        alt="Astro Logo"
        format="avif"
        class={"drop-shadow-xl absolute z-20 animate-pulse"}
      />
    </div>
  </div>
</section>
