---
import { Image } from "astro:assets";
import CtaButton from "../CtaButton.astro";
import heroImage from "../../assets/hero/hero-img.png";
---

<section aria-label="Hero Section" class="bg-gradient-to-l from-primary">
  <div
    class="container grid grid-cols-2 h-screen gap-6 max-md:grid-cols-1"
  >
    <div class="self-center grid gap-3">
      <h1 class="text-4xl lg:text-6xl font-bold my-2">
        A Romim Software tem a solução tecnológica para sua empresa.
      </h1>
      <h2 class="teext-xl lg:text-2xl font-light">
        Transforme sua ideia em realidade! Entre em contato conosco para uma
        consulta gratuita e descubra como podemos ajudar a alavancar a sua
        presença online!
      </h2>
      <CtaButton text="Solicitar orçamento" link="http://google.com" />
    </div>
    <Image
      src={heroImage}
      alt="Astro Logo"
      format="avif"
      class={"drop-shadow-xl object-cover self-center"}
    />
  </div>
</section>
