---
import { Image } from "astro:assets";
import Logo from "../assets/stark-soft-logo-black-bg-transparent.png";

const navLinks = [
  {
    name: "Inicio",
    href: "#",
  },
  {
    name: "Orçamentos",
    href: "#",
  },
  {
    name: "Serviços",
    href: "#",
  },
  {
    name: "Sobre-nós",
    href: "#",
  },
  {
    name: "Contato",
    href: "#",
  },
];
---

<header class="w-full bg-black">
  <nav class="opacity-99 container ">
    <div
      class=" flex flex-wrap items-center justify-between py-4"
    >
      <a
        href="https://flowbite.com/"
        class="flex items-center space-x-3 rtl:space-x-reverse"
      >
        <Image
          src={Logo}
          alt={"Romin Software"}
          format="avif"
          class="w-32 object-contain"
        />
        <span
          class="self-center text-2xl lg:text-3xl font-semibold whitespace-nowrap terxt-gray-700"
          >Romin Software</span
        >
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-500 dark:hover:bg-red-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      {
        navLinks && (
          <div class="hidden w-full lg:block lg:w-auto" id="navbar-default">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
              {navLinks.map((link) => (
                <li>
                  <a
                    href={link.href}
                    class="text-2xl block py-2 px-3 text-white rounded hover:text-red-700 md:border-0  md:p-0"
                  >
                    {link.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
  </nav>
</header>

<script>
  const flag = document.querySelector("#navbar-default") as HTMLElement;
  const button = document.querySelector(
    '[data-collapse-toggle="navbar-default"]'
  ) as HTMLElement;
  button.addEventListener("click", () => {
    flag.classList.toggle("hidden");
  });
</script>
