---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import WhatsAppButton from "../components/WhatsAppButton.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>{title}</title>
    <meta name="title" content="Stark Software - Sistemas Profissionais" />
    <meta
      name="description"
      content="Fazemos seu software com qualidade e preço justo!"
    />
    <meta name="og:title" content="Stark Software - Sistemas Profissionais" />
    <meta
      name="og:description"
      content="Fazemos seu software com qualidade e preço justo!"
    />
    <meta name="og:image" content="https://starksoftware.tech/og-image.png" />
    <meta name="og:url" content="https://starksoftware.tech" />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Stark Software" />
    <meta name="og:locale" content="pt_BR" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Stark Software - Sistemas Profissionais"
    />
  </head>
  <body>
    <Header />
    <main class="relative pt-28 md:pt-0">
      <slot />
      <!--<WhatsAppButton /> -->
    </main>
    <Footer />
    <script>
      import "../js/testimonials.js";
    </script>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&family=Share+Tech&display=swap");
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Share Tech", sans-serif;
    scroll-behavior: smooth;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  header {
    font-family: "Share Tech", sans-serif;
  }
</style>
